@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ------------------------------- */
/* _variables.scss
/* ------------------------------- */
/* ------------------------------- */
/* base.scss
/* ------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #171717;
  font-family: "Montserrat", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}

a {
  text-decoration: none;
}

img {
  /* 元の画像より大きくなることもある */
  width: 100%;
  /* 画像の下の隙間を解消 */
  vertical-align: bottom;
}

.m-0auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

@media (max-width: 768px) {
  .ml-0-responsive {
    margin-left: 0px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.fw-normal {
  font-weight: normal;
}

.bg-gray {
  background-color: #f2f2f2;
}

.no-wrap {
  white-space: nowrap;
}

.relative {
  position: relative;
}

.visually-hidden {
  /* コンテンツの流れから切り離す */
  position: absolute;
  /* 誤ったコードに対処するための回避策 */
  white-space: nowrap;
  /* 可能な限り文字サイズを小さくするための処理
   * (スクリーンリーダー中には height と width が 0 のものを無視するため)
   */
  width: 1px;
  height: 1px;
  /* オーバーフローしているコンテンツを隠す */
  overflow: hidden;
  /* 要素サイズを変更しうるプロパティのリセット */
  border: 0;
  padding: 0;
  /* 要素のどの部分が表示されるかを定義するもの */
  /* 古いブラウザでは使用できない */
  clip: rect(0 0 0 0);
  /* 最近のブラウザ用
   * コンテンツを非表示にする設定  */
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
   * それに加えていくつか問題もあるそうです 
   * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
   */
  margin: -1px;
}

input[type=text],
input[type=email],
input[type=tel] {
  display: block;
  border: 1px solid #333333;
  font-size: 1.6rem;
  width: 100%;
  padding: 0px 8px;
  height: 41px;
  line-height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  display: block;
  border: 1px solid #333333;
  font-size: 1.6rem;
  padding: 0px 8px;
  width: 100%;
  height: 212px;
  line-height: 2.6rem;
}

hr {
  height: 1px;
  width: 100%;
  color: #dddddd;
}

.header {
  position: relative;
}
.header .header-logo {
  z-index: 10;
  position: fixed;
  top: 30px;
  left: 60px;
  width: 260px;
}
.header .header-logo svg path {
  fill: #fff;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.header .header-logo svg:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header-logo.black path {
  fill: #000;
}
@media (max-width: 768px) {
  .header .header-logo {
    left: 30px;
    width: 190px;
  }
}
@media (max-width: 375px) {
  .header .header-logo {
    top: 20px;
    left: 15px;
  }
}
.header .header-menu {
  z-index: 20;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 30px;
  right: 60px;
  width: 60px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header-menu .burger-btn {
  display: block;
  width: 22px;
  height: 10px;
  position: relative;
  z-index: 2;
  border: none;
}
.header .header-menu .burger-btn .bar {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #fff;
}
.header .header-menu .burger-btn .bar-top {
  top: 0px;
}
.header .header-menu .burger-btn .bar-mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header .header-menu .burger-btn .bar-bottom {
  bottom: 0px;
}
.header .header-menu .burger-btn.close .bar-top {
  -webkit-transform: translate(-50%, 5px) rotate(20deg);
          transform: translate(-50%, 5px) rotate(20deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header .header-menu .burger-btn.close .bar-mid {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header .header-menu .burger-btn.close .bar-bottom {
  -webkit-transform: translate(-50%, -3px) rotate(-20deg);
          transform: translate(-50%, -3px) rotate(-20deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header .header-menu p {
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.05em;
}
.header .header-menu.black {
  color: #000;
}
.header .header-menu.black .burger-btn .bar {
  background-color: #000;
}
@media (max-width: 375px) {
  .header .header-menu {
    top: 24px;
    right: 15px;
  }
}

.footer {
  background-color: #525252;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: Medium;
  color: #fff;
  letter-spacing: 0.015em;
}

.section-wrapper {
  padding: 60px 11.8%;
}
@media (max-width: 768px) {
  .section-wrapper {
    padding: 40px 30px;
  }
}
@media (max-width: 375px) {
  .section-wrapper {
    padding: 40px 15px;
  }
}
.section-wrapper.about-wrapper {
  padding-top: 120px;
  position: relative;
}
.section-wrapper.about-wrapper::after {
  content: "";
  width: 100%;
  height: 160px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  .section-wrapper.about-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.section-wrapper.wc-wrapper {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .section-wrapper.wc-wrapper {
    padding: 60px 30px 40px;
  }
}
@media (max-width: 375px) {
  .section-wrapper.wc-wrapper {
    padding: 40px 15px;
  }
}
.section-wrapper.contact-wrapper {
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  .section-wrapper.contact-wrapper {
    padding-bottom: 80px;
  }
}
@media (max-width: 375px) {
  .section-wrapper.contact-wrapper {
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .section-wrapper.vision-wrapper, .section-wrapper.contactform-wrapper {
    padding: 80px 30px;
  }
}
@media (max-width: 375px) {
  .section-wrapper.vision-wrapper, .section-wrapper.contactform-wrapper {
    padding: 80px 15px;
  }
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.content-wrapper.w700 {
  max-width: 700px;
}

.content-wrapper-twoclm {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .content-wrapper-twoclm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .content-wrapper-twoclm.f-reverse-clm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-title {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 800;
  color: #000;
  margin-bottom: 30px;
  letter-spacing: 0.068em;
}
@media (max-width: 375px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.sub-section-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  color: #000;
  margin-bottom: 27px;
  letter-spacing: 0.005em;
}
@media (max-width: 375px) {
  .sub-section-title {
    margin-bottom: 30px;
    letter-spacing: 0;
  }
}

.concept-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 2;
  letter-spacing: -0.56px;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 768px) {
  .concept-text {
    margin-bottom: 30px;
    font-size: 1.4rem;
  }
}
@media (max-width: 375px) {
  .concept-text {
    margin-bottom: 0;
  }
}

.contact-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  line-height: 1.5;
  letter-spacing: -0.56px;
  font-family: "Noto Sans JP", sans-serif;
}

.link-btn {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  display: block;
  width: 160px;
  line-height: 36px;
  letter-spacing: 0.015em;
  text-align: center;
}

.radio-type01 + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.radio-type01 + label::before {
  content: "";
  display: block;
  background-color: #fff;
  border: 1px solid #333333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.radio-type01 + label::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #333333;
  border-radius: 50%;
  opacity: 0;
  width: 12px;
  height: 12px;
  left: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radio-type01:checked + label::after {
  opacity: 1;
}

.checkbox01 + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.checkbox01 + label::before {
  content: "";
  display: block;
  background-color: #fff;
  border: 1px solid #333333;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.checkbox01 + label::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  width: 6px;
  height: 12px;
  top: 3px;
  left: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkbox01:checked + label::after {
  opacity: 1;
}

.noscroll {
  overflow: hidden;
}

.bg-cover {
  display: none;
  position: fixed;
  /* ブラウザの定位置に固定 */
  background-color: rgba(34, 34, 34, 0.6);
  /* 背景色を半透明の黒色に */
  width: 100%;
  /* 要素の横幅を画面全体に */
  height: 100%;
  /* 要素の高さを画面全体に */
  top: 0;
  /* 要素の固定位置をブラウザ最上部に合わせる */
  left: 0;
  /* 要素の固定位置をブラウザ左側に合わせる */
  z-index: 15;
  /* 要素をコンテンツより前面に（要調整） */
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.side-bar {
  z-index: 20;
  width: 36.1%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(34, 34, 34, 0.95);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.068em;
}
@media (max-width: 768px) {
  .side-bar {
    width: 60%;
    font-size: 1.8rem;
  }
}
@media (max-width: 375px) {
  .side-bar {
    width: 100%;
    font-size: 1.5rem;
  }
}
.side-bar .side-bar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.side-bar .symbol-wrapper {
  margin-bottom: 40px;
  cursor: pointer;
}
.side-bar .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.side-bar .header-nav .nav-item {
  text-align: center;
  margin-bottom: 30px;
}
.side-bar .header-nav .nav-item:last-child {
  margin-bottom: 0px;
}

.side-bar.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

/* ------------------------------- */
/* fv
/* ------------------------------- */
.fv {
  height: 100vh;
  width: 100%;
  position: relative;
}
.fv .fv-bg {
  height: 86.5vh;
  width: 76.4%;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.fv .fv-bg.top-img {
  background-image: url(../images/kv-img.png);
  background-image: -webkit-image-set(url(../images/kv-img.png) 1x, url(../images/kv-img@2x.png) 2x);
  background-image: image-set(url(../images/kv-img.png) 1x, url(../images/kv-img@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.fv .fv-bg.about-img {
  background-image: url(../images/heading-img.png);
  background-image: -webkit-image-set(url(../images/heading-img.png) 1x, url(../images/heading-img@2x.png) 2x);
  background-image: image-set(url(../images/heading-img.png) 1x, url(../images/heading-img@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.fv .fv-bg.contact-img {
  background-image: url(../images/heading-img_contact.png);
  background-image: -webkit-image-set(url(../images/heading-img_contact.png) 1x, url(../images/heading-img_contact@2x.png) 2x);
  background-image: image-set(url(../images/heading-img_contact.png) 1x, url(../images/heading-img_contact@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
@media (max-width: 768px) {
  .fv .fv-bg {
    width: 78.1%;
    height: 86.9%;
  }
}
.fv .fv-bg .main-copy {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fv .fv-bg .main-copy .jp-copy {
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 768px) {
  .fv .fv-bg .main-copy .jp-copy {
    font-size: 1.6rem;
  }
}
.fv .fv-bg .main-copy .jp-copy.fw-normal {
  font-weight: normal;
}
.fv .fv-bg .main-copy .name-copy {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .fv .fv-bg .main-copy .name-copy {
    font-size: 1.6rem;
  }
}
.fv .fv-bg .main-copy .en-copy {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .fv .fv-bg .main-copy .en-copy {
    font-size: 5.6rem;
  }
}
@media (max-width: 768px) {
  .fv .fv-bg .main-copy {
    left: 85%;
  }
}
@media (max-width: 375px) {
  .fv .fv-bg .main-copy {
    left: 80%;
  }
  .fv .fv-bg .main-copy.sp-left-57 {
    -webkit-transform: none;
            transform: none;
    top: 185px;
    left: 50px;
  }
}
.fv .black-bg {
  width: 54.2%;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.about-bg {
  width: 100%;
  background-image: url(../images/about-img.png);
  background-image: -webkit-image-set(url(../images/about-img.png) 1x, url(../images/about-img@2x.png) 2x);
  background-image: image-set(url(../images/about-img.png) 1x, url(../images/about-img@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 110px 80px 110px 80px;
}
@media (max-width: 768px) {
  .about-bg {
    padding: 60px 7.8%;
  }
}
@media (max-width: 375px) {
  .about-bg {
    padding: 50px 15px;
  }
}

.about-content {
  max-width: 590px;
  height: auto;
  background-color: #fff;
  padding: 50px 30px;
}
@media (max-width: 768px) {
  .about-content {
    max-width: 590px;
  }
}
@media (max-width: 375px) {
  .about-content {
    padding: 50px 15px 50px 30px;
  }
}
.about-content .concept-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 2;
  letter-spacing: -0.56px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .about-content .concept-text {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .about-content .concept-text {
    font-size: 1.4rem;
  }
}

.works-content {
  max-width: 47.3%;
  height: auto;
}
.works-content .concept-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 76px;
  letter-spacing: -0.56px;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 768px) {
  .works-content {
    max-width: 520px;
  }
}
@media (max-width: 768px) {
  .works-content {
    margin-bottom: 80px;
  }
}
@media (max-width: 375px) {
  .works-content {
    margin-bottom: 40px;
  }
}

.culture-content {
  max-width: 47.3%;
  height: auto;
}
.culture-content .concept-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 76px;
  letter-spacing: -0.56px;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 768px) {
  .culture-content {
    max-width: 520px;
  }
}

.event-list {
  max-width: 700px;
}

.event-item {
  border-bottom: 1px #ddd solid;
  margin-bottom: 30px;
}
.event-item .event-date {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  color: #cecece;
  margin-bottom: 10px;
  letter-spacing: 0.015em;
}
@media (max-width: 375px) {
  .event-item .event-date {
    font-size: 1rem;
  }
}
.event-item .event-content {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  letter-spacing: 0.004em;
}
@media (max-width: 375px) {
  .event-item .event-content {
    font-size: 1.2rem;
  }
}
.event-item:last-of-type {
  border-bottom: none;
}

.contact-message {
  max-width: 41%;
  height: auto;
}
.contact-message .concept-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
  line-height: 2;
  letter-spacing: -0.1em;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .contact-message .concept-text {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .contact-message {
    max-width: 520px;
  }
}

.contact-img-wrapper {
  max-width: 52.7%;
}
@media (max-width: 768px) {
  .contact-img-wrapper {
    max-width: 520px;
    margin-bottom: 30px;
  }
}

.vision-content {
  padding-left: 20.5%;
}
@media (max-width: 375px) {
  .vision-content {
    padding-left: 0;
  }
}

.ceo-wrapper {
  padding-top: 144px;
}
@media (max-width: 768px) {
  .ceo-wrapper {
    padding-top: 130px;
  }
}
.ceo-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/ceo-img.png);
  background-image: -webkit-image-set(url(../images/ceo-img.png) 1x, url(../images/ceo-img@2x.png) 2x);
  background-image: image-set(url(../images/ceo-img.png) 1x, url(../images/ceo-img@2x.png) 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 420px;
  height: 282px;
  z-index: 5;
}
@media (max-width: 768px) {
  .ceo-wrapper::before {
    width: 320px;
    height: 216px;
  }
}
@media (max-width: 375px) {
  .ceo-wrapper::before {
    width: 340px;
    height: 230px;
    left: -40px;
  }
}
.ceo-wrapper .message-content {
  width: 70%;
  background-color: #F0F0F0;
  padding: 120px 16.8% 90px;
}
@media (max-width: 768px) {
  .ceo-wrapper .message-content {
    padding: 109px 5.65% 78px;
  }
}
@media (max-width: 375px) {
  .ceo-wrapper .message-content {
    width: 100%;
    padding: 126px 28px 80px;
  }
}

.info-def {
  width: 72.7%;
  margin-bottom: 40px;
}
@media (max-width: 375px) {
  .info-def {
    width: 100%;
  }
}
.info-def .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px #ddd solid;
  line-height: 56px;
}
.info-def .info-row .info-list {
  width: 18%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  color: #333;
}
@media (max-width: 375px) {
  .info-def .info-row .info-list {
    font-size: 1.4rem;
    width: 43%;
  }
}
.info-def .info-row .info-description {
  width: 82%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #333;
}
@media (max-width: 375px) {
  .info-def .info-row .info-description {
    font-size: 1.4rem;
    width: 57%;
  }
}

.company-map {
  width: 100%;
  height: 360px;
}
@media (max-width: 375px) {
  .company-map {
    height: 470px;
  }
}

.info-table {
  width: 72.7%;
  margin-bottom: 40px;
}
.info-table .info-row {
  width: 100%;
  border-bottom: 1px #ddd solid;
  line-height: 56px;
}
.info-table .info-row .info-item-title {
  width: 18%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  color: #333;
}
.info-table .info-row .info-item {
  width: 82%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #333;
}

.form-wrapper {
  margin-top: 52px;
}
.form-wrapper .form-list .form-item {
  width: 100%;
  margin-bottom: 40px;
}
.form-wrapper .form-list .form-item .form-label {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px;
}
.form-wrapper .form-list .form-item .form-label.required::after {
  content: "必須";
  background-color: #000;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  padding: 1px 5px;
  margin-left: 25px;
}
@media (max-width: 375px) {
  .form-wrapper .form-list .form-item .form-label {
    font-weight: bold;
  }
}
.form-wrapper .form-list .form-item .category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 375px) {
  .form-wrapper .form-list .form-item .category-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-wrapper .form-list .form-item .category-list .category-item {
  margin-right: 50px;
}
.form-wrapper .form-list .form-item .category-list .category-item:last-of-type {
  margin-right: 0px;
}
@media (max-width: 375px) {
  .form-wrapper .form-list .form-item .category-list .category-item {
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .form-wrapper .form-list .form-item .category-list .category-item:last-of-type {
    margin-bottom: 0;
  }
}
.form-wrapper .form-list .form-item .policy-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  color: #333333;
  letter-spacing: 0.004em;
  margin-bottom: 10px;
}
.form-wrapper .form-list .form-item .scroll-box {
  max-width: 700px;
  height: 252px;
  padding: 10px 10px 10px;
  border: 1px solid #000;
  overflow-y: scroll;
  margin-bottom: 40px;
}
.form-wrapper .form-list .form-item .policy-check {
  text-align: center;
  margin-bottom: 40px;
}
.form-wrapper .form-list .form-item .policy-check .policy-label {
  font-size: 1.4rem;
  letter-spacing: -0.05em;
}
/*# sourceMappingURL=style.css.map */