// layout/_footer.scss
@use "../global" as g;

.footer{
    background-color: #525252;
    width: 100%;
    line-height: 50px;
    text-align: center;
    @include g.baseFont(1.0rem, normal, Medium, #fff);
    letter-spacing: 0.015em;
}