// foundation/_base.scss
@use "../global" as g;

/* ------------------------------- */
/* base.scss
/* ------------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    letter-spacing: 0;
    color: g.$font-color-default;
    font-family: "Montserrat", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}

a {
    text-decoration: none;
}

img {
    /* 元の画像より大きくなることもある */
    width: 100%;
    /* 画像の下の隙間を解消 */
    vertical-align: bottom;
}

//中央揃え
.m-0auto {
    margin: 0 auto;
}

//左配置(block要素)
.ml-auto {
    margin-left: auto;
}

//レスポンシブでは右に配置
.ml-0-responsive {
    @include g.mediaTB() {
        margin-left: 0px;
    }
}
//mb-10px
.mb-10 {
    margin-bottom: 10px;
}

//フォント指定
.fw-normal {
    font-weight: normal;
}

//グレー背景
.bg-gray {
    background-color: #f2f2f2;
}

// 改行しない
.no-wrap {
    white-space: nowrap;
}

// relative
.relative {
    position: relative;
}

//チェックボックス、ラジオボタンの装飾
//https://lifehackdev.com/ZakkiBlog/articles/detail/web41
.visually-hidden {
    /* コンテンツの流れから切り離す */
    position: absolute;
    /* 誤ったコードに対処するための回避策 */
    white-space: nowrap;
    /* 可能な限り文字サイズを小さくするための処理
     * (スクリーンリーダー中には height と width が 0 のものを無視するため)
     */
    width: 1px;
    height: 1px;
    /* オーバーフローしているコンテンツを隠す */
    overflow: hidden;
    /* 要素サイズを変更しうるプロパティのリセット */
    border: 0;
    padding: 0;
    /* 要素のどの部分が表示されるかを定義するもの */
    /* 古いブラウザでは使用できない */
    clip: rect(0 0 0 0);
    /* 最近のブラウザ用
     * コンテンツを非表示にする設定  */
    clip-path: inset(50%);
    /* 今現在なぜ-1pxがここで設定されるかは分かっていないそうです。
     * それに加えていくつか問題もあるそうです 
     * (参考: https://github.com/h5bp/html5-boilerplate/issues/1985)
     */
    margin: -1px;
}

// inputの定型
input[type="text"],
input[type="email"],
input[type="tel"] {
    display: block;
    border: 1px solid #333333;
    font-size: 1.6rem;
    width: 100%;
    padding: 0px 8px;
    height: 41px;
    line-height: 41px;
    // 線を幅に含める
    box-sizing: border-box;
}
textarea {
    display: block;
    border: 1px solid #333333;
    font-size: 1.6rem;
    padding: 0px 8px;
    width: 100%;
    height: 212px;
    line-height: 2.6rem;
}

//横線
hr {
    height: 1px;
    width: 100%;
    color: #dddddd;
}
